.details-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-top: 5%;
  padding-left: 20%;
  max-width: 50%;

  @media (max-width: 768px) {
    padding-left: 10%; // Réduire le padding sur les petits écrans
    max-width: 90%; // Augmenter la largeur sur les petits écrans
  }

  @media (max-width: 480px) {
    padding-left: 5%; // Réduire encore le padding sur les très petits écrans
    max-width: 100%; // Utiliser la largeur complète sur les très petits écrans
  }
}

canvas {
  max-width: 100%;

  @media (max-width: 768px) {
    max-width: 80%; // Réduire la taille du canvas sur les petits écrans
  }

  @media (max-width: 480px) {
    max-width: 90%; // Augmenter légèrement la taille sur les très petits écrans
  }
}

.goBack {
  margin-top: 25px;
  margin-left: 25px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;

  &:hover {
    background-color: rgba(66, 62, 62, 0.126);
  }

  @media (max-width: 768px) {
    font-size: 18px; // Réduire légèrement la taille de la police sur les petits écrans
  }

  @media (max-width: 480px) {
    font-size: 16px; // Réduire encore la taille de la police sur les très petits écrans
    margin-left: 10px; // Réduire la marge à gauche sur les très petits écrans
  }
}
