.cercle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80%;
  height: auto;
  margin: auto;
  position: relative;
}

/* Media query pour mobile */
@media (max-width: 430px) {
  .chartjs-tooltip {
    cursor: pointer;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
  }
  .custom-label {
    display: block;
    text-align: center;
  }
}
