<div class="container">
  <div class="alignTitre">
    <div class="titre">{{ numberofJOs }} médailles</div>
  </div>
  <div class="displayInfo">
    <div class="numberJo">
      <h5>Number of JOs</h5>
      <p>{{ numberofEntry }}</p>
    </div>
    <div class="numberCountries">
      <h5>Number of countries</h5>
      <p>{{ numberCountries }}</p>
    </div>
  </div>
  @if (isLoading) {
  <div class="spinner"></div>
  <div class="alerte">Les données ne sont pas chargées</div>
  } @if (!isLoading) {
  <div class="cercle"></div>
  }
  <div class="cercle">
    <canvas
      baseChart
      [data]="pieChartData"
      [options]="pieChartOptions"
      [type]="pieChartType"
      (chartClick)="onChartClick()"
    >
    </canvas>
  </div>
</div>
